/* CSS Document */
body{
	font-family: 'Cabin', sans-serif;
	margin-bottom: 50px;
	
}

textbar{
	font-size: 20px;
}

#row1{
	
}

#master{
	background:url("photo/Homepage.png") center;
	background-size: cover;
	padding-top: 23%;
	padding-bottom: 23%;

}

img{

}

